<h1>Dshboard</h1>
<h3>{{name}}</h3>
<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="style.css">
		 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 </head>
<body>
	<div class="container">
		<div class="title"><h1>Please Register:</h1></div>
		<br>
		<div class="content">
			<form  action="/dashboard" method="post">
				<div class="user-details">
					<div class="input-box">
						<label class="details">Crush</label>
						<input type="text" class = "inputbox" placeholder="Enter your crush name" name = "crush" required>
						<div class="fab "></div><input type="submit" value="Submit">


					</div>
					
			</form>
			<form action="/logout" method="post">											
			<input type="submit" value="LOGOUT">
			</form>
            
 

			

		</div>
	</div>
</body>
</html>