
<h1><i class="fa-solid fa-heart"></i> Login</h1>
<div class="section">
    <div class="lead">Find your crush</div>
</div>
<div class="divider">
</div>
<div class="section">
   <form method="POST" action="/authy/local">
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username" required><br>
  <label for="pwd">Password:</label><br>
  <input type="password" id="pwd" name="pwd" required>
  <input type="submit" value="Submit" class="btn blue darken">
</form>

    </form>
</div>
<div class="section">
<a href="/authy/google" class="btn red darken" >
<i class="fab fa-google left"></i>Login with google</a>
</div>
</html>
