
<h1><i class="fa-solid fa-heart"></i> Login</h1>
<div class="section">
    <div class="lead">Find your crush</div>
</div>
<div class="divider">
</div>
<div class="section">
<a href="/authy/google" class="btn red darken-">
<i class="fab fa-google left"></i>Login with google</a>
</div>
</html>
